manifest {
    name            = 'cells2spine-nf'
    author          = 'quiquevb'
    description     = 'Spatial Deconvolution, CSIDE, Enrichment & maSigPro Pipeline'
    mainScript      = 'main.nf'
    nextflowVersion = '>=22.10.0'
}

params {
    outdir = "./results"

    // GHCR Container Images
    container_cell2loc   = 'ghcr.io/quiquevb23/cells2spine-nf/cells2spine-cell2loc:latest'
    container_rpy2       = 'ghcr.io/quiquevb23/cells2spine-nf/cells2spine-rpy2:latest'
    container_cside      = 'ghcr.io/quiquevb23/cells2spine-nf/cells2spine-r-cside:latest'
    container_enrichment = 'ghcr.io/quiquevb23/cells2spine-nf/cells2spine-r-enrichment:latest'

    // Pipeline Inputs
    gene_list            = null

    masigpro = [:]

}

// Resource Allocation Profiles
process {
    // Default fallback limits
    cpus   = 2
    memory = '8 GB'
    time   = '2h'

    // Dynamic process labels
    withLabel: process_low {
        cpus   = 2
        memory = '8 GB'
        time   = '2h'
    }
    withLabel: process_medium {
        cpus   = 8
        memory = '32 GB'
        time   = '8h'
    }
    withLabel: process_high {
        cpus   = 16
        memory = '64 GB'
        time   = '24h'
    }
    withLabel: process_gpu {
        cpus   = 8
        memory = '48 GB'
        time   = '12h'
        clusterOptions = '--gpus=1'
    }
}

// Execution Profiles
profiles {
    standard {
        docker.enabled         = true
        docker.runOptions      = '-u $(id -u):$(id -g)'
    }
    slurm {
        process.executor       = 'slurm'
        singularity.enabled    = true
        singularity.autoMounts = true
        singularity.cacheDir   = "${projectDir}/singularity_build_tmp/cache"
    }
}
